<div dir="ltr" style="color:#343434;font-family:sans-serif;font-weight:300;font-size:16px;line-height:25px">
    <table class="m_-1802661626314348884m_-2670458810514885017main-wrapper" bgcolor="#ffffff" border="0" cellpadding="0"
           cellspacing="0" width="660" align="center"
           style="table-layout:fixed;border-top:1px solid #6f6f6f;border-right:1px solid #6f6f6f;border-bottom:1px solid #6f6f6f;border-left:1px solid #6f6f6f">
        <tbody>
        <tr>
            <td style="padding-left:50px;padding-right:50px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td class="m_-1802661626314348884m_-2670458810514885017header-wrapper"
                            style="padding-top:50px;padding-bottom:30px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <img src="http://kupivdom.mobi/media/Kupivdom_vector_126x75.svg" alt="Logo" title="Logo" style="display:block" width="200" height="87">
                                            <tr>
                                                <td style="padding-bottom:40px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr style="line-height:0">
                                                            <td class="m_-1802661626314348884m_-2670458810514885017header-site-name"
                                                                style="vertical-align:middle;font-size:28px;font-weight:bold;line-height:38px;text-align: center">
                                                                Здравствуйте!
                                                            </td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-bottom:40px"> Вы получили это письмо, так как  в мобильном приложении «Купивдом» был создан личный кабинет с адресом {{ user_email }}.<br><br>

                                                    Чтобы активировать Ваш личный кабинет, нажмите на кнопку.<br><br>

                                                </td>

                                            </tr>
                                            <tr>

                                                <td bgcolor="#00bfff"
                                                    style="padding: 12px 18px 12px 18px; border-radius:3px"
                                                    align="center"><a href="{{ link }}"
                                                                      target="_blank"
                                                                      style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; display: inline-block;">
                                                    Нажми меня</a></td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                                </td>
                                </tr>

                                <tr>
                                    <td class="m_-1802661626314348884m_-2670458810514885017footer-wrapper"
                                        style="padding-top:30px;padding-bottom:60px">

                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td>

                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                        <tbody>
                                                        <tr>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                       width="100%">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="padding-bottom:20px;font-weight:400;color:#343434">
                                                                            Если Ваш адрес был указан ошибочно, то просто игнорируйте это письмо.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>С уважением,<br>
                                                                            Команда Купивдом
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <img src="https://ci3.googleusercontent.com/proxy/fV3RxRQIMDF8JP_0KQIasFMtoqNUB9XmCu8edZG4hKX5XYp6oZRgQMNgp4XfjGDsLLnJcaQ4OI3uhf4swlQjSzWAOvHM0CBzxV4IqzMVDFSk2LPZaZ_k3XG30SJbvaIFn3NL49ZD4wE--TbpneXODaDS9EcGuoHGA2gdOP4IzzhUTCzJgpNoc7sDubqLx2HWnHWwXWzvPVPOlOOBi-0rn-0TLDmZuG7ItI2ADs9uuW2J8poiWrBagjz64gek96DUNauFZHvF1yR-Db3PdZlh47lHX1b0OLONKjhSCu1UnL_1KEuFCQfwtgCJpupQJHCUHhLFEpkUMQRMhlDRPEUp7THTB6vcqieq02oa2Axsi28CaDrN6IMTK5vsr4zRsbX39n6hpGTnz6WxqxvCpuipt37s8VYlm5TU4-NaZ7oWTto_h4KDEUbAQhduBH_azGC__tYHNqf2aVu2aIGHJuCOs-VvbDxnDcbaALLDj0TpwfERaR6MpiND2KliPEmzZo3xHH_QJK_8BgrfCcNOqGqrQujIlYM8WwItgrC8Mb9o4TTcRElyUM922DHktATzrPIxWFPDzj3vdMCyx_0mmeTzcwvVWK9NxWfPPEhj_Q8V41zRsy_OdhDn1yLz9zEiobv3QHCoyCQ9sVi8v9yb5Yl9VOgv12cgP_3uGuve9cT3ZXmZWxVsTWXSFpkJpb73u6E5Ly1arxjDySABcoWB0tssgHG-xN_tPUO_mxSGfFfvQvcP8__qDYMJmNDnM5M57Hu-GkcRfESNMNDRRH1sVrij4nS-hVNDZ0pjmYoejNUO_6qIGJHdFraseOThDTRgYIGTTaooeJLQ3dzVIGydrSaNydNABJM9QaLZNIC9lrXcIwXcfDQ22bqfGM6-DnSIXMhruDiKyrXOnbAMokTWit9_Bkvf9c3G-keBQAnDI7xx7DH-phik3ioTMPfHu4BaTw78jGW8OnNd9TWQPdEr6v8MsaqEaRzbD4paqoxpPfrJYr4a_nk06ZIc6W-1T-mvnTEKmQwV24_h3__-P29ZtOsMdorARrFBezK-lKnpud1yd57MZ_noJrIihBOAxlSk05EIgJRbunZw4INsyqooU1o2zE_O2eg57Pku531WR1jOSJpE3SYvDX6F6BOP3KX1DwXqNGpMjUf5e5gRxXRueMYcBuJICeYq0U0TKKj-recwqp56eMF1ZY93QQ=s0-d-e1-ft#https://u2382462.ct.sendgrid.net/wf/open?upn=c6-2FCyEZgPo5jWBzhH7FkLyeADoeUWN56MhFy-2BB94uRhFUj9qu0vesn6YmqCiahcqpV5X8n33wVebNbTkCNXGqnS3otZkrqXJYKsQyw5aTkEiC39Rev1CKXl-2BwCAaa6Gd4lTJUFD14yaNVQbdT9EBloAdvhF312zGUCF9QNCmBud2ylQAMAW1276SVPz-2BbZViETUcSSK5AYGZ9vyfJGEb6YuWw3e9vAX4datGyDKsF110AnS5xInz9exEHlydAHpHqjOn05jyXWC1bRuGELd9zo6cRNQ5bUM7W6cM11RuzLzRwOBleiJXlYidKkRABU2MRCROhFywSBOhXC7VJQrpAgapnThDGJS-2BGnqHtQkj0LJTjTAfLz4CtLwj1gnhQGEupT6OXSax71gD3UkyAN3vOWfM-2FtQq-2BJkTwD8fCwMJvy5MliIySYMrG1aNHjBO-2BvXGmfBJKBR-2BHv2pjSTbp4N5WoIr-2FWvOejtvMJveZThkMZOUx4V3smRHblnso4HAnVH-2FtKmPs6eoMVPJT8aEsUtygnIpgI9mBuRlKhr2p6A4Gwap-2FyiWf5DaZqxwUJ1C5qu2jmtkx0BpShQHxAWtwUkzy3ypZz-2BAY4bzRa5r7dJIZ-2BPPX8A0vJXFdytHMoORPoAwwriFx3YjGPGG-2BmHr4X-2FikGd0-2BDZ07YcybBWWn8Wae6v8u4cZ4CqTTubIYIR3HxVkX07SBpJ7Fr6adwNzph5SVpz2I62UTkpFGHXjZDr8TKuqLX-2B-2Fq-2BNYCaiZ2DKVpVOMY8sQuERitqXSaNbR6J8Apg-3D-3D"
                     alt="" width="1" height="1" border="0"
                     style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"
                     class="CToWUd">
                <div class="yj6qo"></div>
                <div class="adL">
                </div>
</div>