<div dir="ltr" style="color:#343434;font-family:sans-serif;font-weight:300;font-size:16px;line-height:25px">
    <table class="m_-1802661626314348884m_-2670458810514885017main-wrapper" bgcolor="#ffffff" border="0" cellpadding="0"
           cellspacing="0" width="660" align="center"
           style="table-layout:fixed;border-top:1px solid #6f6f6f;border-right:1px solid #6f6f6f;border-bottom:1px solid #6f6f6f;border-left:1px solid #6f6f6f">
        <tbody>
        <tr>
            <td style="padding-left:50px;padding-right:50px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td class="m_-1802661626314348884m_-2670458810514885017header-wrapper"
                            style="padding-top:50px;padding-bottom:30px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <img src="http://kupivdom.mobi/media/Kupivdom_vector_126x75.svg">
                                            <tr>
                                                <td style="padding-bottom:40px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr style="line-height:0">
                                                            <td class="m_-1802661626314348884m_-2670458810514885017header-site-name"
                                                                style="vertical-align:middle;font-size:28px;font-weight:bold;line-height:38px;text-align:center">
                                                                Здравствуйте!
                                                            </td>

                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-bottom:40px">
                                                    Вы получили это письмо, т.к. ваш e-mail адрес был указан при попытке
                                                    восстановить доступ к аккаунту мобильного приложения "Купивдом".<br><br>

                                                    Ваш новый временный пароль: <b>{{password}}</b><br><br>
                                                    Если вы не заказывали услугу в приложении и не указывали свой e-mail
                                                    – просто проигнорируйте письмо.
                                                </td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                                </td>
                                </tr>

                                <tr>
                                    <td class="m_-1802661626314348884m_-2670458810514885017footer-wrapper"
                                        style="padding-top:30px;padding-bottom:60px">

                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td>

                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                        <tbody>
                                                        <tr>
                                                        </tr>


                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>


</div>
</div>